@import "tailwindcss";
@font-face {
  font-family: Product Sans;
  src: url("assets/fonts/Product\ Sans\ Regular.ttf");
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.product-sans {
  font-family: "Product Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
